<% provide(:title, 'All artists') %>

    <div class="add_artist">
      <%= button_to "Add new artist", new_artist_path, method: 'get', id: "new_artist_link", remote: true %>
    </div>

<h1>All artists</h1>

<div class="row">
  <div class="col-12 sort_alphabetically">
    <%= sortable(request.url, "name_stage", "Sort alphabetically") %>
  </div>
  <div class="col-12 sort_by_id">
    <% #https://stackoverflow.com/questions/12360148/rails-link-to-or-button-to-post-request-with-parameters %>
    <%# button_to "Sort by ID", "/artists", method: :get, params: { sort: "id", direction: "asc" } %>
    <%= sortable(request.url, "id", "Sort by ID") %>
  </div>
</div>

<div class ="row artists_container pagination_list" id="all_artists">

  <!--Here Rails infers that @artists is a list of artist objects; moreover, when called with a collection of artists,
  Rails automatically iterates through them and renders each one with the _artist.html.erb partial (inferring
  the name of the partial from the name of the class). Bsically as if the code ahs a artist.each do loop -->
  <%= render @artists %>


  <%= will_paginate %>

  <% # http://railscasts.com/episodes/136-jquery-ajax-revised?autoplay=true %>

</div>
