<% provide(:title, 'All artists') %>

<% if logged_in? && current_user.admin? %>
    <div class="row">
      <div class="col-12 add_artist">
        <%= button_to "Add new artist", new_artist_path, method: 'get', id: "new_artist_link", remote: true %>
      </div>
    </div>
<% end %>

<h1>Artists</h1>

<div class="row" id="artists_sort_favs_wrapper_div">
  <%= form_tag artists_path, :method => 'get', :id => "my_favs_sort" do %>
      <div id="sort_favs_hidden_fields">
        <%= render 'sort_favs_hidden_fields' %>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-2 checkbox-inline">
            <%= check_box_tag :sort_favs, true, params[:sort_favs] %>
            <%= label_tag :sort_favs %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="row" id="artists_search_wrapper_div">
  <%= form_tag artists_path, :method => 'get', :id => "artists_search" do %>
      <div id="search_hidden_fields">
        <%= render 'search_hidden_fields' %>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-2" style="display: flex; align-items: end;" >
            <%= text_field_tag :search, params[:search] %>
          </div>
          <div class="col-sm-3">
            <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div id="all_artists_with_sort">
  <%= render partial: 'artists' %>
</div>

<%= will_paginate %>

