<%= provide(:title, @artist.name_stage) %>
<div class="row">
  <aside class = "col-md-4">
    <section class="artist_info">

      <%= image_tag @artist.avatar.url(:medium) %>

    </section>
  </aside>
  <div class="col-md-8">
    <div id="artist_name_and_edit" class="row">
      <h1><%= @artist.name_stage %></h1>
      <% if logged_in? && current_user.admin? %>
          <p><%= link_to "Edit Artist Info", edit_artist_path(@artist) %></p>
          <br>
      <% end %>
    </div>

    <div class="row">
      <div class="col" style="padding: 15px;">
        <div class="row">
          <h3>Albums</h3>
        </div>
        <div class="artists_albums row" style="padding: 15px;">
          <%= render(partial: 'albums/album', collection: @artist.albums.order("release_date DESC")) %>
        </div>
      </div>
    </div>
    <div class="artist_upcoming_shows row">
      <h3>Upcoming shows</h3>
      <%= render 'shared/artist_concerts' %>
    </div>

    <div class="row">
      <%= link_to "<-- Back to all artists", session[:forwarding_url] %>
    </div>
  </div>
</div>