<%= provide(:title, @artist.name_stage) %>
<div class="row">
  <aside class = "col-xs-12 col-sm-12 col-md-3">
    <section class="artist_info">

      <%= image_tag @artist.avatar.url(:medium) %>

      <div id="artist_name_and_edit" class="row">
        <h1 style="margin-bottom: 0px;"><%= @artist.name_stage %></h1>
        <%= render partial: 'follow_form', locals: {artist: @artist} if logged_in? %>
        <% if logged_in? && current_user.admin? %>
            <br>
            <p><%= link_to "Edit artist info", edit_artist_path(@artist), style: "padding: 15px;" %></p>
        <% end %>
      </div>

    </section>
  </aside>
  <div class="col-md-9">
    <div class="row">
      <div class="col" style="padding: 15px;">
        <div class="row">
          <h3>Albums</h3>
        </div>

        <div class="add_album">
          <%= button_to "Add new album", new_album_path, method: 'get', id: "new_album_link", params: { artist_id: @artist.id}, remote: true %>
        </div>

        <div class="artists_albums row" style="padding: 15px;">
          <%= render(partial: 'albums/album', collection: @artist.albums.order("release_date DESC")) %>
        </div>
      </div>
    </div>
    <div class="artist_upcoming_shows row">
      <h3>Upcoming shows</h3>

      <div class="add_album">
        <% # https://stackoverflow.com/questions/12360148/rails-link-to-or-button-to-post-request-with-parameters -- rails 5+ %>
        <%= button_to "Add new concert", new_concert_path, method: 'get', id: "new_concert_link", params: { artist_id: @artist.id}, remote: true %>
      </div>

      <%= render 'shared/artist_concerts' %>
    </div>

    <div class="row">
      <%= link_to "<-- Back", :back %>
    </div>
  </div>
</div>