<%= provide(:title, @user.name_first ) %>
<div class="row">
  <aside class = "col-md-4">
    <section class="user_info">
      <%= image_tag @user.profile_pic.url(:medium) %>
    </section>
  </aside>
  <div class="col-md-8">
    <p>
      <%= @user.email %>
    </p>
    <%= @user.name_first %>
    <%= @user.name_last %>
    <br/>
    <br/>
    <p><%= link_to "<-- Back to all users", users_path %></p>
  </div>
</div>
