<%# based on Rails tutorial, Michael Hartl %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <%= image_tag @user.profile_pic.url(:medium) %>
      <br/>
      <%= @user.name_first %>
      <%= @user.name_last %>
      <br/>
      <%= render 'shared/fanship_stats' %>
    </section>
  </aside>
  <div class="col-md-10">
    <h3>Following</h3>
    <% if @artists.any? %>
        <ul class="artists follow">
          <%= render @artists %>
        </ul>
        <%= will_paginate @artists %>
    <% end %>
  </div>
</div>