<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <%= form_for @venue,  validate: true, html: { multipart: true }, remote: true, authenticity_token: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <fieldset>
        <legend>Add new venue:</legend>
        <% #:name, :city_id(foreign key) %>

        <div class="field">
          <%= f.label :name, 'Venue name:' %>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label 'City:' %>
          <%# https://stackoverflow.com/questions/8907867/can-someone-explain-collection-select-to-me-in-clear-simple-terms %>
          <%# With regards to using form_for, again in very simple terms, for all tags that come within the form_for, eg. f.text_field, you dont need to supply the first (object) parameter. This is taken from the form_for syntax. %>
          <%= f.collection_select(:city_id, City.order(name: :asc), :id, :full_name, {prompt: false, include_hidden: false}, { multiple: false }) %>
        </div>

        <div class="actions">
          <%= f.submit buttonTitle(yield(:buttonTitle)), class: "btn btn-primary" %>
        </div>

        <button id="close_form_button" type="button" class="btn btn-warning" style="width:100%;">Close Form</button>

      </fieldset>
  <% end %>

  </div>
</div>