<%= provide(:title, @venue.name ) %>
<div class="row">
  <aside class = "col-md-4">
    <section class="venue_info">
      <div id="venue_name_and_edit" class="row">
        <h1><%= @venue.name %></h1>
        <% if logged_in? && current_user.admin? %>
            <p><%= link_to "Edit Venue Info", edit_venue_path(@venue), style: "padding: 15px;" %></p>
            <br>
        <% end %>
      </div>
    </section>
  </aside>
  <div class="col-md-8">

    <div class="venue_info_first_line">
    </div>

    <div class="venue_info_second_line">
      <%= @venue.city.full_name %>
    </div>

    <div class="row">
      <div class="col" style="padding: 15px;">
        <div class="row">
          <h3>Upcoming Shows</h3>
        </div>

        <div class="add_concert">
          <%= button_to "Add new concert (at this venue)", new_concert_path, method: 'get', id: "new_concert_link", params: { venue_id: @venue.id}, remote: true %>
        </div>

        <div class="venues_concerts row" style="padding: 15px;">
          <%= render(partial: 'concerts/concert', collection: @venue.concerts.order("dateandtime DESC")) %>
        </div>
      </div>
    </div>

    <br/>
    <p><%= link_to "<-- Back", :back %></p>
  </div>
</div>
