<% provide(:title, 'Upcoming Concerts') %>

<% if logged_in? && current_user.admin? %>
    <div class="add_concert">
      <%= button_to "Add new concert", new_concert_path, method: 'get', id: "new_concert_link", remote: true %>
    </div>
<% end %>

<div id="upcoming_concerts">
  <h1>Upcoming Concerts</h1>

  <% if !logged_in? %>
      <%= render 'shared/login_reminder' %>
  <% end %>

  <% if logged_in? %>
      <div class="row" id="concerts_sort_favs_wrapper_div">
        <%= form_tag concerts_path, :method => 'get', :id => "my_favs_concerts_sort" do %>
            <div id="sort_favs_hidden_fields">
              <%= render 'shared/sort_favs_hidden_fields' %>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-2 checkbox-inline">
                  <%= check_box_tag :sort_favs, true, params[:sort_favs] %>
                  <%= label_tag :sort_favs, "My favorites" %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if !logged_in? %>
      <div class="row">
        <%= form_tag concerts_path, :method => 'get', :id => "concerts_search" do %>
            <div id="search_hidden_fields">
              <%= render 'shared/search_hidden_fields' %>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-2" style="display: flex; align-items: end;" >
                  <%= text_field_tag :search, params[:search] %>
                </div>
                <div class="col-sm-3">
                  <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>

  <div id="all_concerts_with_sort">
    <%= render partial: 'concerts' %>
  </div>

</div>





