<% provide(:title, 'Upcoming Concerts') %>

<% if logged_in? && current_user.admin? %>
    <div class="add_concert">
      <%= button_to "Add new concert", new_concert_path, method: 'get', id: "new_concert_link", remote: true %>
    </div>
<% end %>

<div id="upcoming_concerts">
  <h1>Upcoming Concerts</h1>

  <div class="row">
    <%= form_tag concerts_path, :method => 'get', :id => "concerts_search" do %>
        <div id="search_hidden_fields">
          <%= render 'search_hidden_fields' %>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-2" style="display: flex; align-items: end;" >
              <%= text_field_tag :search, params[:search] %>
            </div>
            <div class="col-sm-3">
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="pagination_list row">
    <%= will_paginate %>
  </div>

  <div id="all_concerts_with_sort">
    <%= render partial: 'concerts' %>
  </div>

  <div class="row">
    <%= will_paginate %>
  </div>

</div>





