<%= provide(:title, @concert.dateandtime ) %>
<div class="row">
  <aside class = "col-md-4">
    <section class="concert_info_picture">

      <%= image_tag @concert.artists.first.avatar.url(:medium) %>

    </section>
  </aside>
  <div class="col-md-8">
    <div class="concert_info_first_line">
      <%= @concert.artists.map {|artist|
        link_to(artist.name_stage, artist_path(artist))}.join(', ').html_safe
      %>
    </div>
    <div class="concert_info_second_line">
        <%= @concert.dateandtime.strftime("%m/%d/%Y") %>
    </div>
    <div class = "concert_info_second_line">
      <% if @concert.venue.name != 'na' %>
        <%= @concert.venue.name %>
      <% end %>
    </div>
    <div class="concert_info_second_line">
      <%= full_city_name(@concert.venue.city) %>
    </div>
    <br/>
    <p><%= link_to "<-- Back to all concerts", session[:forwarding_url] %></p>
  </div>
</div>